.imagenes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* width: 100%; */
  gap: 20px;
}

.imagen-container {
  flex: 1;
  /* width: 50%; */
  height: auto;
  border-radius: 50%;

  &:hover {
    box-shadow: var(--silver-lake-blue) 0px 0px 5rem 10px;
    transition: 0.3s ease-in-out;
  }
}

.cerramiento-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;

  &:hover {
    transform: scale(101%);
    /* box-shadow: var(--indigo-dye) 0px 0px 20px; */
    transition: 0.3s ease-in-out;
  }
}
.fa-angles-right {
  flex: .1;
  font-size: 1.3rem;
  transition: .1s ease-out;
}
.fa-angles-right:hover {
  font-size: 1.7rem;
  color: var(--silver-lake-blue);
  transition: .1s ease-out;
}

@media screen and (max-width: 430px) {
  .imagenes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
  }

  .fa-angles-right {
    transform: rotateZ(90deg);
  }

}