.seccion-fabricacion {
  background-color: var(--uranian-blue);
}

.container-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.titulo-seccion {
  font-size: 2rem;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}