.seccion-fabricacion {
  background-color: var(--uranian-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 20px;
}

.titulo-seccion {
  font-size: 2rem;
  max-width: 90%;
  text-align: center;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--indigo-dye);
}
.productos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;

  list-style: none;
  padding: 0;
}

.imagen-producto-a {
  display: block;
  /* border: 2px solid var(--silver-lake-blue); */
  border-radius: 10px;

}

.imagen-producto-img {
  /* max-width: 90vw; */
  height: 12rem;
  border-radius: 10px;
  /* box-shadow: var(--dark-blue) 1px 1px 5px; */
  box-shadow: 0px 0px 10px 3px  var(--indigo-dye);
}.imagen-producto-img:hover {
  /* height: 10.2rem; */
  background: var(--silver-lake-blue);
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 3px  var(--indigo-dye);
  transition: all 0.3s ease-in-out;
}

/*-- MEDIA QUERIES */
@media screen and (max-width: 430px) {
  .titulo-seccion {
    font-size: 1.2rem;
  }

  .imagen-producto-img {
    /* max-width: 90vw; */
    height: 7rem;
  }
}