.seccion {
  padding: 40px 20px;
}
.titulo-oscuro {
  color: var(--indigo-dye);
}
.titulo-claro {
  color: var(--jordy-blue);
}
.columnas-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

/*-- SECCION NOSOTROS --------------*/
.seccion-about {
  background-color: var(--uranian-blue);
  
    .container-img {
      width: 20rem;
      .imagen-nosotros {
        width: 100%;
        border-radius: 100px;
        /* object-fit: cover; */
      }
    }
    .texto-nosotros {
      width: 30rem;
      padding: 20px 0;
      color: var(--dark-blue);
    }
}

/*-- SECCION TRABAJOS --------------*/
.seccion-trabajos {
  /* padding: 40px 20px; */
  .trabajos-container {
    width: 80%;
    justify-content: center;
  }
  
  .trabajo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .link-trabajo {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: radial-gradient( closest-side,var(--uranian-blue) 10%, var(--silver-lake-blue) 90%, var(--dark-blue) );
    color: var(--dark-blue);
    box-shadow: var(--dark-blue) 0 0 10px 5px;

    transform: translateX(0%);
    transition: transform .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out;

    a {
      text-decoration: none;
      color: var(--dark-blue);
      width: 12rem;
      transition: .3s ease-in-out;
    }
    h5 {
      transition: font-size .5s ease-in-out;
    }
    i {
      font-size: 3rem;
      margin-bottom: 3px;
    }
    a:hover {
      text-shadow: 0px 1px 5px var(--dark-blue);
    }
  }

  .texto-trabajo {
    z-index: 0;
    height: auto;
    width: 15rem;
    font-size: .9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translateX(40%);
    opacity: .1;
    transition: opacity .3s ease-in-out, transform .5s ease-in-out;
    
    .lista-links {
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
    }
    
    a {
      text-decoration: none;
      color: var(--uranian-blue);
      &:hover {
        border-bottom: 1px solid var(--jordy-blue);
        text-shadow: 1px 1px 2px var(--jordy-blue);
      }
    }
    li {
      list-style: none;
    }
  }

  #trabajo:hover #texto-trabajo {
    transform: translateX(60%);
    opacity: 1;
    transition: opacity .3s ease-in-out, transform .5s ease-in-out;
  }
  #trabajo:hover .link-trabajo {
    transform: translateX(-40%);
    transition: transform .5s ease-in-out;
  }
}

/*-- SECCION FORM --------------*/
.seccion-form {
  padding-bottom: 0;
  background: linear-gradient(var(--indigo-dye), var(--indigo-dye) 40%, var(--uranian-blue));
  color: var(--uranian-blue);

  .container-icon {
    
    .fa-regular {
      font-size: 8rem;
      padding: 10px 0;
    }
  
    .texto-form {
      font-size: 1.3rem;
    }
  }


    .form-contact {
      padding: 20px;
      background-color: ghostwhite;
      color: var(--indigo-dye);
      border-radius: 20px;
      box-shadow: var(--indigo-dye) 0 0 5px 2px;
      margin: 20px 0;

      .form-input {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-weight: 600;
        padding: 0 10px;

        input {
          border-radius: 15px;
          border: 0;
          border-bottom: 1px solid var(--silver-lake-blue);
          outline: none;
          color: black;
          background-color: var(--uranian-blue);
          margin-bottom: 10px;
          padding: 5px;
        }
        input::placeholder {
          color: var(--indigo-dye);
          opacity: .5;
        }
        input:focus {
          border: 1px solid var(--indigo-dye);
          box-shadow: var(--indigo-dye) 1px 2px 2px 1px;
          transition: .3s ease-in-out;
        }

      }

      .btn-form-contact {
        padding: 5px 10px;
        border-radius: 30px;
        background-color: var(--indigo-dye);
        outline: none;
        border: 0;
      }

    }
}

/*-- SECCION CONTACTO --------------*/
.seccion-contacto {
  padding: 0 0 60px 0;
  background-color: var(--uranian-blue);
  color: var(--indigo-dye);

  .fa-brands {
    font-size: 8rem;
    padding: 10px 0;
  }

  .texto-contacto {
    font-size: 1.3rem;
  }

  .lista-telefonos {
    font-size: 1rem;
  }
  .link-wpp {
    color: var(--silver-lake-blue);
    transition: .3s ease-in-out;

    &:hover {
      text-shadow: 1px 0px 5px var(--jordy-blue);
      transition: .3s ease-in-out;
    }
  }
}

/*-- MEDIA QUERIES */
@media screen and (max-width: 960px) {
  .trabajos-container {
    width: 90% !important;
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      row-gap: 1.5rem;
      transition: .5s ease-in-out !important;
    }
  }
}

@media screen and (max-width: 575px) {
  .link-trabajo {
    width: 8rem !important;
    height: 8rem !important;
    transition: .5s ease-in-out !important;
    h5 {
      font-size: .9rem !important;
      transition: .5s ease-in-out !important;
    }
  }
  .texto-trabajo {
    width: 8rem !important;
    font-size: .6rem !important;
    transition: .5s ease-in-out !important;
  }
}


/*-- ANIMACIONES */
.izqder {
  /* animation: izqder 2s ease-in-out 1; */
  /* -moz-animation: izqder 2s ease-in-out 1; */
  /* -webkit-animation: izqder 2s ease-in-out 1; */
}

@keyframes izqder {
  0% { transform: translateX(0); }
  50% { transform: translateX(-10%); }
  100% { transform: translateX(0); }
}

@-moz-keyframes izqder {
  0% { transform: translateX(0); }
  50% { transform: translateX(-10%); }
  100% { transform: translateX(0); }
}

@-webkit-keyframes izqder {
  0% { transform: translateX(0); }
  50% { transform: translateX(-10%); }
  100% { transform: translateX(0); }
}