/* From Uiverse.io by narmesh_sah */ 
.preloader {
  position: relative;
  /* width: 100%; */
  width: 5rem;
  height: 5rem;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 2px #fff);
}

.crack {
  position: absolute;
  width: 70%;
  aspect-ratio: 1;
  background-color: #fef3fc;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: rotate 6s infinite;
}

.crack2 {
  width: 72%;
  animation-delay: 1s;
}
.crack3 {
  width: 74%;
  animation-delay: 1.5s;
}
.crack4 {
  width: 86%;
  animation-delay: 2s;
}
.crack5 {
  width: 98%;
  animation-delay: 2.5s;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
