/* From Uiverse.io by narmesh_sah */ 
.preloader {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 2px 6px rgba(83, 135, 192, .35));
}

.crack {
  position: absolute;
  width: 70%;
  aspect-ratio: 1;
  background-color: var(--indigo-dye);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: rotate 6s infinite;
}

.crack2 {
  width: 72%;
  background-color: var(--silver-lake-blue);
  animation-delay: 1s;
}
.crack3 {
  width: 74%;
  background-color: var(--silver-lake-blue);
  animation-delay: 1.5s;
}
.crack4 {
  width: 86%;
  background-color: var(--jordy-blue);
  animation-delay: 2s;
}
.crack5 {
  width: 98%;
  background-color: var(--uranian-blue);
  animation-delay: 2.5s;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
