.offcanvas {
  width: 150px !important;
  height: fit-content;
  top: 150px !important;
  right: -1px !important;
  background-color: var(--pastel-light-blue) !important;
  box-shadow: 0px 0px 5px 0px var(--silver-lake-blue);
  border: none !important;
  border-radius: 20px 0 0 20px;
  padding-bottom: 10px;
  border: 1px solid var(--silver-lake-blue) !important;
}

.offcanvas-backdrop {
  background-color: transparent !important;
}

.offcanvas-title {
  display: none;
}
.offcanvas-header {
  padding-bottom: 0 !important;
}
.offcanvas-body {
  padding: 0 !important;
  width: max-content;
}

.btn-offcanvas {
  position: fixed;
  top: 150px;
  right: -35px;
  margin: 0;
  border-radius: 20px 0 0 20px !important;
  background-color: var(--pastel-light-blue) !important;
  color: var(--dark-blue) !important;
  border: 1px solid var(--silver-lake-blue) !important;
  width: 5rem;
  /* height: 3rem; */
  /* align-self: flex-end; */
  animation: izqder 2s ease-out 1s 1;
  -moz-animation: izqder 2s ease-out 1s 1;
  -webkit-animation: izqder 2s ease-out 1s 1;

  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  
  .fa-solid {
    text-align: left;
    justify-self: flex-start;
    width: fit-content;
  }
}

.titulo-offcanvas {
  color: var(--indigo-dye);
  padding: 10px;
  text-align: center;
}

.nav-container-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style: inside url('../assets/snowflake-regular-silver-lake-blue.svg');
}

.nav-item-cat {
  padding: 3px 15px;
  margin-bottom: 3px;
  width: 100%;
  
  &:hover {
    background-color: var(--uranian-blue);
    border-bottom: 2px solid var(--silver-lake-blue);
  }
}
.nav-link-cat {
  color: var(--silver-lake-blue);
  text-decoration: none;
}

/* ANIMACIONES */
  /* animation: izqder 2s ease-in-out 1; */
  /* -moz-animation: izqder 2s ease-in-out 1; */
  /* -webkit-animation: izqder 2s ease-in-out 1; */

@keyframes izqder {
  0% { transform: translateX(0); }
  50% { transform: translateX(-30%); }
  100% { transform: translateX(0); }
}

@-moz-keyframes izqder {
  0% { transform: translateX(0); }
  50% { transform: translateX(-30%); }
  100% { transform: translateX(0); }
}

@-webkit-keyframes izqder {
  0% { transform: translateX(0); }
  50% { transform: translateX(-30%); }
  100% { transform: translateX(0); }
}