.seccion-reparacion {
  background-color: var(--uranian-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.texto-container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.texto-centrado {
  text-align: center;
  text-transform: uppercase;
  /* font-weight: 600; */
  /* background: linear-gradient(90deg, transparent 30%, var(--jordy-blue) 50%, transparent 70%); */
}

.reparacion-before-after {
  width: 100%;
}

.reparacion-list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;

  width: 90%;
  margin: 0;
  padding: 0;

  /* background-color: #e0f7ff; */
  padding: 1rem;
  border-radius: 1rem;
  /* box-shadow: #e0f7ff 0 0 20px 0; */
}

.reparacion-item {
  color: var(--indigo-dye);
  background-color: var(--jordy-blue);
  /* background: linear-gradient(
    120deg,
    var(--jordy-blue) 30%,
    rgba(255,255,255, .2) 60%,
    rgba(154,223,255,.55) 75%,
    rgba(221, 244, 255, .85) 80%,
    rgba(79,182,232,.45) 85%,
    rgba(255,255,255,0.2) 95%,
    var(--jordy-blue) 100%
  ); */

  box-shadow: var(--silver-lake-blue) 2px 2px 5px 0;
  border-radius: 1rem;
  padding: .8rem .8rem;
  
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
  
  &:hover {
    transform: translate(-5px, -5px);
    /* box-shadow: var(--silver-lake-blue) 5px 5px 5px 0; */
    color: var(--dark-blue);
    box-shadow: var(--silver-lake-blue) 5px 5px 5px 0;
    transition: 0.2s ease-in-out;
  }
}